{{showResult | json}}

<form (ngSubmit)="submitted($event)" [formGroup]="form">
  <label for="fileUp">
    <input #fileUp (change)="showChange($event.target.files)" id="fileUp" name="fileUp" type="file">
  </label>
  <button type="submit">Submit</button>
</form>


<form (ngSubmit)="submitted($event)" [formGroup]="inputForm">
  <div formArrayName="list">
    <ng-container *ngFor="let row of inputForm.controls['list']['controls']; let i=index">
      <ng-container [formGroupName]="i">
        <ng-container *ngFor="let t of template">
          {{t.label}}:
          <input
            (change)="formUpdated()"
            [formControlName]="t.label"
            [placeholder]="t.label"
            type="text"
          >
        </ng-container>
        <br/>
      </ng-container>
    </ng-container>
    <br/>
  </div>
</form>
